@media screen and (max-width: 932px) {
  .sectionMain {
    margin-top: 100px;
  }
}

@media screen and (max-width: 431px) {
  .header_wrapper {
    height: fit-content;
  }
  .header_header {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    margin-top: 20px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .titles {
    flex-direction: column;
    align-items: center;
  }
  .main {
    height: fit-content;
  }
}
